<!doctype html>

<html>

<p style="font-size: 13px; color: #787878;">A negative number indicates you've read more articles of left-leaning bias; positive indicates right-leaning. The closer to zero your tilt number is, the more balanced your consumption of information is, and the better!</p>

</html>