<html>
<!-- File for home page -->

<head>
	<title>Neutral Noggin - Login</title>

	<meta charset="utf-8">
	<!-- Set size of screen to fit device-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Link scripts -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"> </script>
	<!-- Link css files -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css"rel="stylesheet">
	<link href="css/neutral-noggin.css" rel="stylesheet">

	<!-- Link google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Cabin|Montserrat|Roboto+Slab&display=swap" rel="stylesheet">

	<!-- Script for linking tooltaskbars html-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$("#topbanner").load("topbanner.html");
		});
	</script>


</head>


<body>
	<div id="topbanner"></div>

	<div class="myTaskbar">
		<div class="taskbarTable">
			<table>
				<tr>
		        	<td>
                		<a id="taskButton1" href="home?ut=0">Daily News</a>
		        	</td>
		        	<td>
		        		<a id="taskButton3" href="saved?ut=0">Saved</a>
		        	</td>
		        	<td>
		        		<a id="taskButton4" href="more?0" class="selected" >More</a>
		        	</td>
		      	</tr>
		    </table>
		</div>
	</div>



	<div class="sub-banner">
		<h1>Noggin Login</h1>
	</div>

	<div class="container login-fields">
		<p class="setting-text">Username</p>

		<form class="search-bar" role="form" method="get" action="/add">
		    <div class="form-group">
		      <input type="text" class="form-control">
		    </div>
		 </form>

		<div class="container" style="height: 40px"></div>

		<p class="setting-text">Password</p>
		<form class="search-bar" role="form" method="get" action="/add">
		    <div class="form-group">
		      <input class="form-control" type="password">
		    </div>
		</form>
	</div>

	<hr>




	<div class="container login-buttons">

		<div id ="done-button">
			<a href="more">
				<button type="button" >Done</button>
			</a>
		</div>

		<div id ="cancel-button">
			<a href="more">
				<button type="button">Cancel</button>
			</a>
		</div>

	</div>



</body>
</html>