<html>
<head>

	<title>Neutral Noggin - More</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/neutral-noggin.css" rel="stylesheet">

	<!-- Link scripts -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"> </script>

	<!-- Link css files -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css"rel="stylesheet">
	<link href="css/neutral-noggin.css" rel="stylesheet">

	<!-- Link google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Cabin|Montserrat|Roboto+Slab&display=swap" rel="stylesheet">

	<!-- Script for linking tooltaskbars html-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$("#topbanner").load("topbanner.html");
		});
	</script>


</head>

<body>
	<div id="topbanner"></div>
	<div class="myTaskbar">
		<div class="taskbarTable">
			<table>
				<tr>
		        	<td>
                		<a id="taskButton1" href="home?ut=0">Daily News</a>
		        	</td>
		        	<td>
		        		<a id="taskButton3" href="saved?ut=0">Saved</a>
		        	</td>
		        	<td>
		        		<a id="taskButton4" href="more?0" class="selected">More</a>
		        	</td>
		      	</tr>
		    </table>
		</div>
	</div>




	<div class="container" id="more-page">

		<h4 class="title">Settings and More</h4>

		<div class="container article-break"></div>

		<div class="container setting">
			<p class="setting-text">Account</p>

			<div id="login">
				<a href="login">
					<button type="button" >Login</button>
				</a>
			</div>
		</div>


		<div class="container small-break"></div>


		<div class="container setting">
			<p class="setting-text">Your Noggin Scale</p>

			<div id="login">
				<a href="scale?ut=0" id="scaleButtonFromMore">
					<button type="button">View</button>
				</a>
			</div>
		</div>

		<div class="container small-break"></div>



	</div>




</body>
</html>