<html>
<head>

	<title>Neutral Noggin - Saved</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/neutral-noggin.css" rel="stylesheet">

	<!-- Link css files -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css"rel="stylesheet">
	<link href="css/neutral-noggin.css" rel="stylesheet">

	<!-- Link google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Cabin|Montserrat|Roboto+Slab&display=swap" rel="stylesheet">

	<!-- Script for linking tooltaskbars html-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Link scripts -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/neutral-noggin.js"></script>


	<script>
		$(document).ready(function(){
			$("#topbanner").load("topbanner.html");
		});
	</script>

</head>

<body>
	<div id="topbanner"></div>

	<div class="tilt" id="{{userTilt}}" name="tilt"></div>
	<div class="userlogin" id="{{loggedInProfile}}" name="userlogin"></div>

	<div class="myTaskbar">
		<div class="taskbarTable">
			<table>
				<tr>
		        	<td>
		        		<a id="taskButtonH" href="home?ut=0">Daily News</a>
		        	</td>
		        	<td>
		        		<a id="taskButtonS" href="saved?ut=0" class="selected">Saved</a>
		        	</td>
		        	<td>
		        		<a id="taskButtonM" href="more?ut=0">More</a>
		        	</td>
		      	</tr>
		    </table>
		</div>
	</div>



</body>
</html>