<html>
<head>

	<title>Neutral Noggin - Search Page</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/neutral-noggin.css" rel="stylesheet">

	<!-- Link scripts -->
	<script src="js/bootstrap.js"> </script>
	<!-- Link css files -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css"rel="stylesheet">
	<link href="css/neutral-noggin.css" rel="stylesheet">

	<!-- Link google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab&display=swap' rel='stylesheet'>

	<!-- position: fixed; allows for things to not scroll  -->

</head>

<body>
	<div class="myTaskbar">
		<div class="taskbarTable">
			<table>
				<tr>
		        	<td>
		        		<a href="home">Daily News</a>
		        	</td>
		        	<td>
		        		<a href="search">Trending</a>
		        	</td>
		        	<td>
		        		<a class="selected" href="saved">Saved</a>
		        	</td>
		        	<td>
		        		<a href="more">More...</a>
		        	</td>
		      	</tr>
		    </table>
		</div>

	</div>
</body>