<html>
<head>

	<title>Neutral Noggin - Search Page</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Link scripts -->
	<script src="js/bootstrap.js"> </script>
	<!-- Link css files -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css"rel="stylesheet">
	<link href="css/neutral-noggin.css" rel="stylesheet">

	<!-- Link google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab&display=swap' rel='stylesheet'>

	<!-- position: fixed; allows for things to not scroll  -->

	<style>

		html, body {
			margin: 0;
			margin-top: 0 !important;
			padding: 0;
		}

		.subBanner {
			padding: 0px;
			height: 30px;
			width: 100%;
			overflow: hidden;
			border: solid;
			background-color: #D8D8D8;
			border-color: #5f3273;
			border-width: 3px 0px 3px 0px;
		}

		.subBanner h3 {
			line-height: 0%;
		}

		.articleBanner {
			padding: 0px;
			padding-top: 0px;
			height: 120px;
			width: 100%;
			overflow: hidden;
			border: solid;
			background-color: #F2F2F2;
			border-color: #5f3273;
			border-width: 3px 0px 3px 0px;		
		}

		.title {
			text-align: center;
		}

		.divider hr {
			border: 0px;
		}

		th, td {
			padding: 10px;
			border: 0;

		}

		td:nth-child(2) {
			text-align: right;
		}


		table, tr{
  			border: 1px solid black;
		}

		tr:nth-child(even) {
 			background-color: #E8E8E8;
		}	

		table {
			border-spacing: 10px;
			width: 95%;
			margin-left: 10px;
			font-family: arial, sans-serif;
			border-collapse: collapse;

		}

		.title h1 {
			line-height: 40%;	
		}

		.articleTitles h4 {
			margin: 10px;
			text-align: left;
			max-width: 300px;
			max-height: 100px;
			
		}

		.column {
			float: left;
			width: 200px;
			padding: 5px;
		}

		.row::after {
			content: "";
			clear: both;
			display: table;
		}

		.img {
			text-align: right;
		}

	</style>

</head>
<body>
	<div class="container pad-for-top-banner"></div>

	<div class="top-banner">
		<form class="search-bar-search-page" role="form" method="get" action="/add">
		    <div class="form-group">
		      <input type="text" class="form-control" id="name" placeholder="Search Topics" name="name">
		    </div>
		 </form>
	</div>

	<div class="trending-banner">
		<h1>Trending Topics</h1>
	</div>

	<a class="divider"><hr></a>

	<div class="topics">
<!-- 		<div class="subBanner">
				<div class="title">
					<h3>Most Searched Topics</h3>
				</div>
			</div>

		<a class="divider"><hr></a> -->

		<table>
		      	<tr>
		     
		        	<td colspan="2" border="0">
		        		<a href="https://www.google.com/search?q=iowa+caucus">Iowa Caucuses</a>
		        	</td>
		        	
		        	<td>2k+ searches</td>
		     	</tr>
		     
	     	<tr>
	        	<td colspan="2">
	        		<a href="https://www.google.com/search?q=superbowl">Superbowl</a>
	        	</td>
	        	<td>1.5k+ searches</td>
	      	</tr>
	      	<tr>
		        <td colspan="2">
		        	<a href="https://www.google.com/search?q=kansas+city">Kansas City</a>
		        </td>
		        <td>900+ searches</td>
	    	</tr>
	    	<tr>
		        <td colspan="2">
		        	<a href="https://www.google.com/search?q=pete+buttigieg">Pete Buttigieg</a>
		        </td>
		        <td>850+ searches</td>
	    	</tr>
	    	<tr>
		        <td colspan="2">
		        	<a href="https://www.google.com/search?q=coronavirus">Coronavirus</a>
		        </td>
		        <td>600+ searches</td>
	    	</tr>


	    </table>
	</div>

	<div class="articles">

		<a class="divider"><hr></a>

		<div class="subBanner">
			<div class="title">
				<h3>Trending Articles</h3>

			</div>
		</div>

		{{#each articles}}
		<a href={{URL}}>

			<div class="container article-container">

				<div class="container headline-container">
					<h3 class="headline">{{headline}}</h3>
				</div>

				<div class="container image-container">
					<img src={{imageURL}} class="img-responsive">
				</div>

			</div>

		</a>
		{{/each}}

<!-- 		<div id="article1">
			<a class="divider"><hr></a>
			<div class="articleBanner">
				<div class="row">
					<div class="articleTitles column">
						<h4>Trump lashes out at Democrats in cheering his acquittal as Pelosi declares him 'impeached forever'</h4>

					</div>
					<div class="img column">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjE068UhyLyrAJ3bhRsmWZsVf6h00UZ6dAZZjugk2DutdqQ1Z05fA_wkk1rmWzZKOUCl0u4g&usqp=CAI&s">
					</div>
				</div>
			</div>

			<a class="divider"><hr></a>
			<div class="articleBanner">
				<div class="row">
					<div class="articleTitles column">
						<h4>Iowa Dems release '100 percent' of caucus vote totals showing  Buttigieg ahead, amid calls for recanvass</h4>

					</div>
					<div class="img column">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMf3L6Ymcn1dRAvgBf77hO1yczmQiUh5GMUQ7ftss7mvVpjgN_KGlkcXqw0jRUAPI9YFxu2g&usqp=CAI&s">
					</div>
				</div>
			</div>

		</div> -->

	</div>







</body>
</html>