/* Top Banner and Tool bar */

.top-banner {
	padding-top: 10px;
	height: 52px;
	width: 100%;
	top: 0px;
	position: fixed;
	background-color: #5f3273;
	border-color: #636363;
	border-width: 0px 0px 100px 0px;
}

.container.pad-for-top-banner {
	width: 100%;
	height: 52px;
	top: 0px;
}

.search-bar {
	width: 70%;
	height: 15px;
	float: right;
	border-radius: 14px;
}

.form-control {
	text-align: left;
	width: 98%;
}

/* Search page */

.sub-banner {
	padding: 5px;
	height: 75px;
	width: 100%;
	text-align: center;
	overflow: hidden;
	border: solid;
	background-color: #D8D8D8;
	border-color: #5f3273;
	border-width: 0px 0px 1px 0px;
}

.sub-banner * {
	font-family: 'Cabin', sans-serif;
	font-size: 34px;
}

.search-bar-search-page {
	width: 85%;
	height: 15px;
 	margin: 0 auto;
	border-radius: 14px;
}

.topics td {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;	
}

/* Viewing articles */

.container.article-list {
	width: 100%;
}

.container.article-container {
	background: #fafafa;
	padding: 5px;
	padding-right: 6px;
	padding-bottom: 15px;
	width: 100%;
}

.container.headline-container {
	float: left;
	width: 55vw;
}

.container.image-container {
	padding-top: 20px;
	float: right;
	width: 25vw;
	height: 25vh;
}

img  {
  border-radius: 15%;
}

a {
	color: #000000;
}

.headline {
	font-family: 'Roboto Slab', serif;
	font-size: 17px;
	text-align: left;
	font-color: #2d0054;
}

.container.article-break {
	height: 7px;
	background: #bdbdbd;
}

.myTaskbar {
  position: fixed !important;
  bottom: 0;
  padding: 5px;
  height: 50px;
  width: 100%;
  overflow: hidden;
  border: solid;
  background-color: #C2C2C2;
  border-width: 0px 0px 0px 0px;
}




